* {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}

body {
  background-color: #fff;
  padding-top: 2rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.nav-items span {
  color: #999999;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
}
.nav-items span:hover {
  color: #000;
  border-bottom-color: rgba(0, 0, 0, 1);
}
.nav-items input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 9rem;
  margin-bottom: 0.5rem;
}
.nav-items input:focus {
  border-bottom-color: #000;
}
